/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

.background-style {
  background-color: #EEF2FB;
}

.header-style {
  /*height: 7vh*/
}

.leftbar-style {
  width: 20%;
  /*border: 1px solid black;*/
  height: 20%;
}

.leftbar_body-style {
  display: flex;
  height: 93vh;

}

.body-style {
  width: 78vw;
  height: 90vh;
  /*border: 10px solid black;*/
  border: 2px solid #ccc;
  border-radius: 35px; /* Задаем радиус закругления углов в 10 пикселей */
  padding: 10px; /* Добавляем внутренние отступы для контента внутри элемента */
  background-color: white;
  /*overflow: hidden;*/

}