.mainbody{

}

.path {
    display: flex;
    /*margin-left: 20px;*/
    margin-top: 10px;
    margin-left: 20px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 10px; !* Задаем радиус закругления углов в 10 пикселей *!*/
    /*padding: 5px; !* Добавляем внутренние отступы для контента внутри элемента *!*/
}



.filters {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 15px;
    margin-bottom: 20px;
}

.sortbuttons {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;

}

/*.sortbuttons {*/
/*    margin-left: 10px;*/
/*    margin-right: 10px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    gap: 15px;*/
/*    align-items: flex-start; !* Новый стиль *!*/
/*}*/

/*.sortbuttons > div {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/




.DivToScroll{
    margin-top: 5px;
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 35px;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
    /*padding: 10px;*/

}

.DivWithScroll{
    /*!*height: 532px;*!*/
    /*overflow:scroll;*/
    /*overflow-x:hidden;*/
    /*flex-grow: 1;*/
    height: 65vh;
    overflow: auto; /* Изменено на auto */
    flex-grow: 1;

}


