.container {
    display: flex;
    flex-direction: column;
}

.path {
    display: flex;
    /*margin-left: 20px;*/
    margin-top: 10px;
    margin-left: 20px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 10px; !* Задаем радиус закругления углов в 10 пикселей *!*/
    /*padding: 5px; !* Добавляем внутренние отступы для контента внутри элемента *!*/
}



.filters {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 15px;
    margin-bottom: 20px;
}

.sortbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;

}

.DivToScroll{
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    /*border-radius: 4px 0 4px 0;*/
    border-radius: 35px;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
    /*padding: 10px;*/
}

.DivWithScroll{
    height: 532px;
    overflow:scroll;
    overflow-x:hidden;
}

.files {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    /*justify-content: space-between;*/
}

.line_file {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-style: dashed;
    border-top-color: #D9D9D9;
    /*margin-bottom: 10px;*/
    /*gap: 15px;*/
    padding: 5px;
}
